:root{
    --header-bg: #a6b985;
    --header2-bg: #97aa77;
    --body-bg: #e9ede1;
    --text-brand: #213435;
    --text_brand_hover:#46685b;
}

body{
    background-color: var(--body-bg);
}

/* barra de navegacion inicio */

.navbar_personalizado{
    background: var(--header-bg);
    display: flex;
    height: 8vh;
}

.cont_brand{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.brand_personalizado{
    color: var(--text-brand);
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

.brand_personalizado:hover{
    color: var(--text_brand_hover);
}

.cont_lista_nav{
    height: 100%;
    width: 70%;
}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
    height: 100%;
    align-items: center;
    justify-content: end;
    padding-right: 40px;
}

li{
    border-bottom: 3px solid transparent;
    font-size: 20px;
}

li:hover{
    color: wheat;
    cursor: pointer;
    border-bottom: 3px solid wheat;
}

/* ! barra de navegacion fin */

/* header inicio  */

    .header{
        background: var(--header2-bg);
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cont_sobre_mi{
        width: 60%;
        height: 80%;
        display: flex;
        border-bottom: 1px solid var(--text_brand_hover);
    }

    .cont_texto_sobre_mi{
        width: 70%;
        height: 100%;
        padding: 30px;
        color: rgb(70, 70, 70);
        font-weight: 700;
        font-size: 20px;
    }

    .cont_img_sobre_mi{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .titulo_sobre_mi{
        font-weight: bold;
        font-size: 40px;
    }

    .foto{
        width: 70%;
        height: 40%;
        border: 1px solid black;
        border-radius: 50%;
        background-image: url(../assets/batman.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

/*! header fin  */


.hamb{
    display: none;
}


/* responsive inicio */

    @media (max-width:760px) {

        .navbar_personalizado{
            height: 12vh;
            flex-direction: column;
        }

        .cont_brand{
            width: 100%;
            align-items: center;
            justify-content: center;
        }

        .cont_lista_nav{
            width: 100%;
        }
        ul{
            justify-content: center;
            align-items: center;
        }
    }

    @media (max-width:600px){

        .navbar_personalizado{
            height: 8vh;
            flex-direction: row;
        }

        ul{
            display: none;
        }

        .hamb{
            display: block;
        }
    }

/*! responsive fin */

